
WatchaPedia/.gradle/7.6/executionHistory/executionHistory.lock
WatchaPedia/.gradle/7.6/fileHashes/fileHashes.lock
WatchaPedia/.gradle/buildOutputCleanup/buildOutputCleanup.lock
WatchaPedia/.gradle/file-system.probe
WatchaPedia/src/main/main.iml
WatchaPedia/build/tmp/compileJava/previous-compilation-data.bin
WatchaPedia/build/classes/java/main/META-INF/spring-configuration-metadata.json
WatchaPedia/.idea/workspace.xml
WatchaPedia/.gradle/file-system.probe
WatchaPedia/.gradle/buildOutputCleanup/buildOutputCleanup.lock
WatchaPedia/.gradle/7.6/fileHashes/resourceHashesCache.bin
WatchaPedia/.gradle/7.6/fileHashes/fileHashes.lock
WatchaPedia/.gradle/7.6/fileHashes/fileHashes.bin
WatchaPedia/.gradle/7.6/executionHistory/executionHistory.lock
WatchaPedia/.gradle/7.6/executionHistory/executionHistory.bin
WatchaPedia/.gradle/file-system.probe
