
WatchaPedia/.gradle/7.6/executionHistory/executionHistory.lock
WatchaPedia/.gradle/7.6/fileHashes/fileHashes.lock
WatchaPedia/.gradle/buildOutputCleanup/buildOutputCleanup.lock
WatchaPedia/.gradle/file-system.probe
WatchaPedia/src/main/main.iml
