#NBox {
  width: 10%;
  margin: 0px 90%;
}
#btn1 {
  border: 0.5px solid rgb(241, 241, 241);
  width: 80px;
}
#btn2 {
  border: 0.5px solid rgb(241, 241, 241);
}

#status_btn {
  border-radius: 5px;
  font-weight: 700;
}

#status_text {
  font-weight: 700;
}
