#NBox {
  width: 10%;
  margin: 0px 90%;
}
#btn1 {
  border: solid 1px;
  width: 70px;
}
#btn2 {
  border: solid 1px;
}

#status_btn {
  border-radius: 5px;
  font-weight: 700;
}

#status_text {
  font-weight: 700;
}
